.terminalWindow {
  border: 3px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  margin-bottom: var(--ifm-leading);
}

.terminalWindowHeader {
  align-items: center;
  background: var(--ifm-color-emphasis-200);
  display: flex;
  padding: 0.5rem 1rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.buttons {
  white-space: nowrap;
}

.right {
  align-self: center;
  width: 10%;
}

[data-theme="light"] {
  --ifm-background-color: #fff;
}

.windowTitleBar {
  flex: 1 0;
  margin: 0 6rem 0 1rem;
  font:
    400 14px Arial,
    sans-serif;
  text-align: center;
  user-select: none;
}

[data-theme="dark"] .windowTitleBar {
  color: var(--ifm-color-gray-300);
}

.dot {
  margin-right: 6px;
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.browserWindowMenuIcon {
  margin-left: auto;
}

.bar {
  width: 17px;
  height: 3px;
  background-color: #aaa;
  margin: 3px 0;
  display: block;
}

.browserWindowBody {
  background-color: var(--ifm-background-color);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 1rem;
}

.browserWindowBody *:last-child {
  margin-bottom: 0;
}
